.bannerMain {
  border: 1px solid red;
  height: 100vh;
}
.BannerText{
  margin-top: 400px;
  color: #fff;
  z-index: 1;
  position: relative;
  font-size: 3rem;
  margin-left: 50px;
}
.BannerText2{
  z-index: 1;
  position: relative;
}
.Maintext{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #fff;
  padding-right: 1000px;

}
.button{
  z-index: 1;
  position: relative;
  margin-left :25%;
  font-size: 1.3rem;
  margin-top: 2%;
}